<head>
  <meta charset="UTF-8">
  <title> Full Page Image</title>

</head>
<body>
<div class="Quiz-Page">
  <h1>Quiz</h1>
  <h2 class="question"> question/image </h2>
  <div class="btn-container">
    <button value="1" class="AnswerBtn">Réponse1</button>
    <button value="2" class="AnswerBtn">Réponse2</button>
    <button value="3" class="AnswerBtn">Réponse3</button>
    <button value="4" class="AnswerBtn">Réponse4</button>
  </div>
  <button class="next-Q">Question suivante</button>
</div>

</body>
