.accueil{
  height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
}

.d-flex{
  align-items: center;
    justify-content: center;
    font-size:xx-large ;

}
