<!-- <a href="DataPatient" class="button">Proche d'un patient</a>
        <a href="pagedeconnexion" class="button">  Psychomotricien </a> -->


        <body>
            <header>
                <h1>Page d'accueil</h1>
            </header>
            <main>
                <form id="login_form" class="form_class">
                    <div class="form_div">
                        <label>Vous êtes un proche du patient:</label>
                        <a href="DataPatient" class="button">Proche d'un patient</a>
                        
                        <label>Vous êtes un Psychomotricien:</label>
                        <a href="pagedeconnexion" class="button">  Psychomotricien </a>
                        
                        <!-- <a class="submit_class" href="quiz-list" type="submit" form="login_form" >Entrer</a> -->
                    </div>
                    
                </form>
            </main>
          
          </body>
    
          