
      <body>
        <header>
            <h1>Connexion</h1>
        </header>
        <main>
            <form id="login_form" class="form_class">
                <div class="form_div">
                    <label>Nom d'utilisateur:</label>
                    <input class="field_class" name="login_txt" type="text" placeholder="Entrer le nom d'utilisateur" autofocus>
                    <label>Mot de passe:</label>
                    <input id="pass" class="field_class" name="password_txt" type="password" placeholder="Entrer le mot de passe">
                    <a class="submit_class" href="quiz-list" type="submit" form="login_form" >Entrer</a>
                </div>
                
            </form>
        </main>
      
      </body>

      