
<body >
<div class="Quiz-Page" *ngIf="quiz && !isEnd()">
  <h1></h1>
  <div class="QuestionImage">
  <h2 class="question">{{quiz.questions[indexQuestion].label}}</h2>
    <h1 class="image"> <img [src]=quiz.questions[indexQuestion].imageUrl></h1>
  </div>

      <div class="btn-container" *ngFor="let answer of quiz.questions[indexQuestion].answers">


      <button value="1" class="AnswerBtn" (click)="answerQuestion(answer)">{{answer.value}}</button>


    </div>

</div>

<div class="Quiz-EndPage" *ngIf="quiz && isEnd()">
  <h1>Fin du Quiz</h1>
  <div class="Score">
    <h3 class="Score">{{getScore()}}/{{this.quiz.questions.length}}</h3>
  </div>
  <div class="Image">
    <h1> <img src="https://pbs.twimg.com/media/DaqTtslXUAE_dIa.jpg"></h1>
    <button><a class="stats" href="stats-quiz">Statistiques</a></button>
  </div>

</div>

</body>



