
<body >
<div class="Quiz-Page" *ngIf="quiz && !isEnd()">
  <h1>Quiz</h1>
  <div class="QuestionImage">
  <h2 class="question">{{quiz.questions[indexQuestion].label}}</h2>
    <h1> <img [src]=quiz.questions[indexQuestion].imageUrl></h1>
  </div>

      <div class="btn-container" *ngFor="let answer of quiz.questions[indexQuestion].answers">


      <button value="1" class="AnswerBtn" (click)="answerQuestion(answer)">{{answer.value}}</button>


    </div>

<div *ngIf="resultAffiche">
  <h1>La réponse correcte est : </h1>
  <div class="AffichageResultat" >{{getCorrectAnswer().value}}</div>
</div>
  <button class="next-Q" (click)="next()">Je ne sais pas</button>

</div>

<div class="Quiz-EndPage" *ngIf="quiz && isEnd()">
  <h1>Fin du Quiz</h1>
  <div class="Score">
    <h3 class="Score">{{getScore()}}/{{getindexQuestion()}}</h3>
  </div>
  <div class="Image">
    <h1> <img src="https://pbs.twimg.com/media/DaqTtslXUAE_dIa.jpg"></h1>
    <button><a class="stats" href="stats-quiz">Statistiques</a></button>
    <button><a class="quiz-list" href="quiz-list">Quiz</a></button>
  </div>

</div>

</body>



