  body {
    background: #2e3f64;
    background-size: cover;
    overflow: hidden;
    margin: auto;


  }

  .affichageResultat{
    background-color:  #f2fdff;
    border : solid 4px rgb(11, 4, 88)  ;
    padding : 0.5em;
    font-weight: bold;
    width: 250px;
    color :  rgb(11, 4, 88);
    font-size: 20px;
    width: 270px;
    text-align: center;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
  }

  .question {
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 40px 10px 40px 20px;
    width: 63%;
    font-size: 30px;
    text-align: center;
    margin: auto;
    border-radius: 10px;


  }



  .AnswerBtn {
    background-color:  #f2fdff;
  border : solid 4px rgb(11, 4, 88)  ;
  padding : 0.5em;
  font-weight: bold;
  width: 300px;
  color : rgb(11, 4, 88);
  font-size: 40px;
  cursor : pointer;
  margin-right: 50px;
  margin-left:50px;

  }

  .AnswerBtn:hover{
    background: lightblue;
    color: #fff;
  }

  .Quiz-Page h1 {
    color: white;
    font-family: 'Zen Dots', cursive;
    text-align: center;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }

  .Score{
    color: white;
    font-family: 'Zen Dots', cursive;
    text-align: right;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }

  .btn-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
    grid-template-columns: auto auto;
    grid-gap: 1px;
    display:inline-block;
    width:45%;
  	margin:10px 2.5% 10px 2.5%;
	  text-align:center;

  }

  .Quiz-EndPage h1 {
    color: white;
    font-family: 'Zen Dots', cursive;
    text-align: center;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }

  .image {
    resize: horizontal;
    margin-bottom: 10px;
  }

  .stats {
    background: #ffffff;
    font-family: 'Zen Dots', cursive;
  }

  .stats:hover{
    background: lightblue;
    color: #fff;
    opacity: .7;
  }




