
<body >
<div class="Quiz-Page" *ngIf="quiz">
  <h1>Quiz</h1>
  <div class="Score">
    <h3 class="Score">{{getScore()}}/{{getindexQuestion()+1}}</h3>
  </div>
  <div class="QuestionImage">
  <h2 class="question">{{quiz.questions[indexQuestion].label}}</h2>
    <h1> <img [src]=quiz.questions[indexQuestion].imageUrl></h1>
  </div>

      <div class="btn-container" *ngFor="let answer of quiz.questions[indexQuestion].answers">


      <button value="1" class="AnswerBtn" (click)="answerQuestion(answer)">{{answer.value}}</button>


    </div>

<div *ngIf="resultAffiche">
  <h1>La réponse correcte est : </h1>
  <div class="AffichageResultat" >{{getCorrectAnswer().value}}</div>
</div>
  <button class="next-Q" (click)="next()">Je ne sais pas</button>

  <div *ngIf="isEnd()">
    <button><a class="navigation" href="stats-quiz">Statistique</a></button>

  </div>
</div>


</body>



